.container-home {
    button {
        display: block;
        margin: 100px auto;

        &:hover {
            margin-bottom: 100px;
        }

        a:hover {
            opacity: 1;
        }
    }
}
