.container-session {

    h1 {
        font-size: 3em;
    }

    .session-id {
        padding: 10px 35px;
        font-size: 3em;
        color: $black;
        background: $white;
        width: 200px;
        text-align: center;
        margin: auto;
    }

    img {
        max-height: 60vh;
        width: 100%;
    }

    form {
        width: 90%;

        input[type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;

            + img {
                cursor: pointer;
                margin: 0 15px;
                width: 80px;

                &:hover {
                    opacity: 0.8;
                }
            }

            &:checked + img {
                border-bottom: 10px solid $yellow;
            }

            &:disabled + img {
                opacity: 0.4;
                cursor: not-allowed;
            }
        }

        button {
            margin-top: 50px;


        }
    }
}
