// Typography
@font-face {
    font-family: Avenixel-Regular;
    src: url('../fonts/Avenixel-Regular.ttf');
}

// Colors
$lightblue: #d5eefe;
$navy: #222245;
$red: #d84b1a;
$orange: #e27b17;
$yellow: #e6ca48;
$green: #38c172;
$black: #000000;
$gray: #d4d4d4;
$white: #ffffff;
