@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: Avenixel-Regular;
  src: url("../fonts/Avenixel-Regular.ttf");
}
.container-welcome .title {
  font-size: 7em;
  margin: 0;
}
.container-welcome h2 {
  font-weight: 400;
  margin: 0 auto 50px auto;
  font-size: 2.5em;
  width: 80%;
  line-height: 90%;
}

.container-login button {
  margin-top: 40px;
}

.container-home button {
  display: block;
  margin: 100px auto;
}
.container-home button:hover {
  margin-bottom: 100px;
}
.container-home button a:hover {
  opacity: 1;
}

.container-session h1 {
  font-size: 3em;
}
.container-session .session-id {
  padding: 10px 35px;
  font-size: 3em;
  color: #000000;
  background: #ffffff;
  width: 200px;
  text-align: center;
  margin: auto;
}
.container-session img {
  max-height: 60vh;
  width: 100%;
}
.container-session form {
  width: 90%;
}
.container-session form input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.container-session form input[type=radio] + img {
  cursor: pointer;
  margin: 0 15px;
  width: 80px;
}
.container-session form input[type=radio] + img:hover {
  opacity: 0.8;
}
.container-session form input[type=radio]:checked + img {
  border-bottom: 10px solid #e6ca48;
}
.container-session form input[type=radio]:disabled + img {
  opacity: 0.4;
  cursor: not-allowed;
}
.container-session form button {
  margin-top: 50px;
}

.container-scene img {
  max-height: 60vh;
  width: 100%;
}
.container-scene p {
  max-width: 600px;
  width: 90%;
  margin: auto;
}
.container-scene p .player-name {
  color: #e27b17;
}
.container-scene a {
  margin: 10px 0;
}
.container-scene a:first-of-type {
  margin-top: 50px;
  display: inline-block;
}

.player-index {
  display: flex;
  position: fixed;
  align-items: center;
  left: 20px;
  top: 60px;
}
.player-index .image-container {
  height: 40px;
  width: 40px;
  overflow: hidden;
  margin-right: 15px;
}
.player-index .image-container img {
  width: 100%;
}
.player-index p {
  font-size: 1.5em;
  color: #e27b17;
  margin: 0;
}

form {
  width: 500px;
  margin: auto;
}

input {
  box-sizing: border-box;
  background-image: none !important;
  border: none;
  outline: none;
  padding: 15px 35px;
  margin: 10px 0;
  width: 100%;
}

button {
  border: none;
  position: relative;
  background: transparent;
}
button p, button a {
  display: block;
  position: relative;
  margin: 0;
  font-size: inherit;
  padding: 10px 35px;
  background: #ffffff;
  border-bottom: 10px solid #d4d4d4;
  opacity: 1;
}
button p:hover, button a:hover {
  opacity: 1;
}
button:before {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% + 6px);
  top: 10px;
  left: -3px;
  content: "";
  background-color: #ffffff;
  border-bottom: 10px solid #d4d4d4;
}
button:hover {
  cursor: pointer;
  transform: translateY(10px);
}
button:hover p, button:hover a {
  border-bottom-color: #000000;
}
button:hover:before {
  border-bottom-color: #000000;
}

html, body {
  font-family: Avenixel-Regular, monospace, san-serif;
  background: #000000;
  color: #ffffff;
  margin: 0;
}

p, a, button, input {
  font-family: Avenixel-Regular, monospace, san-serif;
  text-decoration: none;
  font-size: 2em;
}

a {
  color: #e6ca48;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.links a {
  padding: 10px 20px;
}

.top-left {
  position: fixed;
  top: 10px;
  left: 0;
}

.top-right {
  position: fixed;
  top: 10px;
  right: 0;
}
.top-right p {
  padding: 10px 20px;
  margin: 0;
}

.content {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.error {
  color: #d84b1a;
}